
/*Home page*/




/*----------------------Css for page 2----------------------------*/


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", "sans-serif";
}

:root{
    --bg-color: #181616;
    --second-bg-color: rgb(8 8 8/ 0.89);
    --text-color: white;
    --main-colour: #15F770;
}

html{
    font-size:60%;
    overflow-x:hidden;
}

/*
body{
    background: var(--bg-color);
    color: var(--text-color);
    background-image: url("../assests/images/FinalBackground.png");
    background-repeat: no-repeat;
    height: fit-content;
   !* width: fit-content;*!
    margin-top: 30px;
    width:100vw;
}
*/

body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    /*background: transparent;*/
}

body::before {
    content: "";
    position: fixed;
    background: #000000 url("../assests/images/Screenshot (34).png") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0px;
    height: 100vh;
    z-index: -1;
}





.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 12% 2rem;
    background: rgba(0,0,0,0.82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor:pointer;
    transition:0.3s ease;
    font-style: italic;
}

.logo:hover{
    transform:scale(1.1);
}

.logo{
    text-shadow: 0 0 25px var(--main-colour);
}

.navbar>a{
    font-size:1.8rem;
    color: var(--text-color);
    margin-left:4rem;
    font-weight:500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent ;
}

.navbar>a:hover,
.navbar>a.active{
    color: var(--main-colour);
    border-bottom: 3px solid var(--main-colour);
}

#menu-icon{
    font-size: 3.6rem;
    color:var(--main-colour);
    display: none;
}

#AboutMeSec{
    display: flex;
    width:93vw;
    height:140vh;
    background: var(--second-bg-color);
    position:relative;
    top:210px;
    left:35px;
    bottom: 30px;
}

.topic{
    color: white;
    left: 10px;
    font-size: 18px;
    padding: 40px;
}

hr.line {
    border: 4px solid #15F770;
    width:170px;
    /* position:absolute;
     top:27px;
     left:100px;*/
}

#myImageABM{
    position:absolute;
    top:240px;
    bottom:50px;
    left:67px;
    width:290px;
    height: fit-content;
    border: 5px solid #15F770;
    border-radius: 180px;
    display:flex;
    box-shadow:  rgb(74, 169, 113) 0px 54px 55px, rgb(9, 239, 106) 0px -12px 30px, rgba(19, 18, 18, 0.79) 0px 4px 6px, rgba(12, 12, 12, 0.79) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

#left{
    width:600px;
    height: 100vh;

}

#right{
    width:1200px;
    height: 100vh;

}


#AboutMeText{

    color: var(--text-color);
    margin-top:78px;
    padding:80px;
    font-size: 21px;

}


#AboutMeText>p{
    color: var(--text-color);
}

#AboutMeText>h4{
    font-size: 40px;
    color:var(--main-colour);
    margin-bottom: 30px;
}


/*
footer{
    width:96vw;
    height:200px;
    color: var(--bg-color);
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    top:30px;
    position: sticky;
}
*/


/*



!*Media Queryyy*!


@media screen and (max-width: 1300px) {
    #myImageABM{
        left:40px;
        width:280px;

    }

    #AboutMeSec>#AboutMeText{
        width:780px;
    }

    #AboutMeText>#listRight{
        bottom: 6px;
    }
}

@media screen and (max-width: 1240px) {
    #myImageABM {
        left: 31px;
        width: 252px;
    }

    #AboutMeSec>div>button {

        bottom: 148px;
        left: 84px;
    }

    !*#AboutMeSec>#AboutMeText {
        font-size: 17px;
        right: 15px;
        width: 779px;
    }*!

    #AboutMeSec>#AboutMeText > p {
        font-size: 16px;
    }

    #AboutMeText>#listRight{
        bottom: 53px;
    }
}

@media screen and (max-width: 1160px) {
    #AboutMeSec>#AboutMeText{
        width:680px;
    }
}

@media screen and (max-width: 1060px) {
    #myImageABM {
        left: 33px;
        width: 199px;
    }

    #AboutMeSec>div>button {
        bottom: 216px;
        left: 58px;
    }
}


@media screen and (max-width: 1000px){

    #AboutMeText>#listRight {
        bottom: 42px;
        right: -75px;
    }

    #AboutMeSec>#AboutMeText {
        width: 555px;
    }
}





    @media screen and (max-width: 880px) {

        #AboutMeSec {
            height: 1200px;
        }

        #AboutMeSec > #AboutMeText {
            width: 540px;
        }

    }


@media screen and (max-width: 850px) {
    #AboutMeSec > #AboutMeText {
        width: 453px;
    }


    #AboutMeText>#listRight {
        bottom: -142px;
        right: 188px;
    }
}








    @media screen and (max-width: 520px) {

        header {
            height: 86px;
            left: 0;
            right: 0;
        }

        header > nav {
            top: 30px;
            right: 33px;

        }

        #AboutMeSec {
            height: 1300px;
            width: 91vw;
            left: 10px;
        }

        .topic {
            font-size: 16px;
        }


        hr.line {
            top: 23px;
            left: 64px;
        }


        #myImageABM {
            top: 165px;
            left: 40px;
        }

        #AboutMeSec > div > button {

            bottom: 681px;
            left: 71px;
            width: 170px;
            height: 46px;

        }

        #AboutMeSec > #AboutMeText {
            font-size: 15px;
            right: 19px;
            width: 350px;
            top: 604px;
            height: 890px;
        }

        #AboutMeText > h4 {
            font-size: 35px;
        }

        #AboutMeSec > #AboutMeText > p {
            font-size: 15px;
        }


        #AboutMeText > #listRight {
            color: #15F770;
            width: 350px;
            height: 323px;
            position: absolute;
            right: 0px;
            bottom: 115px;

        }

    }



*/





