
/*Home page*/

.bodyPage1{
    background: #0E0D0D;
    position: relative;
}

#homeSection{
    width:100vw;
    height: 90vh;
}

#myImage {
    width:350px;
    height:fit-content;
    position:absolute;
    top:0;
    bottom:0;
    right:20px;

    /*border-radius: 20px;
    border: 10px solid #15F770;*/
}

#homeSection>.icons{
    width:10px;
    height:10px;
}

#homeSection>h1{
    font-size:80px;
    color: white;
}

#homeSection>h1::first-letter{
    color:#15F770 ;
}

#homeSection>p{
    color: white;
    font-size:40px;
}

#homeSection>button{
    background:#15F770 ;
    color: white;
    width:100px;
    height:60px;
    border-radius: 20px;
}

#homeSection>nav>a{
    color: white;
    font-size:20px;
}

#homeSection>nav>a:hover{
    color: #15F770;

}


/*----------------------Css for page 2----------------------------*/

header{
    height:100px;
    width:97vw;
    overflow: hidden;
    background: #0E0D0D;
    position:fixed;
    left: 10px;
    right: 10px;
    top:16px;

}

header>nav{
    top:47px;
    bottom:0;
    margin:auto;
    right:43px;
    position: absolute;
}

/*Addig the background to the body*/

#bodyPage2{
    background: #1E1E1E;
    padding-top: 120px;
}


/*About me section*/

#AboutMeSec{
    width:97vw;
    height:600px;
    background: #0E0D0D;
    margin-top:25px;
    margin-left: 10px;
    margin-right: 10px;
}




/*footer section*/
footer{
    width:90vw;
    height:150px;
    background: #0E0D0D;
    text-align: center;
}

#myImage2 {
    width: 250px;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    border-radius: 20px;
}