
/*Home page*/




/*----------------------Css for page 2----------------------------*/


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", "sans-serif";
}

:root{
    --bg-color: #181616;
    --second-bg-color: rgb(8 8 8/ 0.8);
    --text-color: white;
    --main-colour: #15F770;
}

html{
    font-size:60%;
    overflow-x:hidden;
}

/*
body{
    background: var(--bg-color);
    color: var(--text-color);
    background-image: url("../assests/images/FinalBackground.png");
    background-repeat: no-repeat;
    height: fit-content;
   !* width: fit-content;*!
    margin-top: 30px;
    width:100vw;
}
*/

body {
    font-family: "Open Sans", sans-serif;
    background-color: #040404;
    color: #fff;
    position: relative;
    overflow: hidden;
    /*background: transparent;*/
}

body::before {
    content: "";
    position: fixed;
    background: #000000 url("../assests/images/Screenshot (34).png") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0px;
    height: 100vh;
    z-index: -1;
}





.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 2rem 12% 2rem;
    background: rgba(0,0,0,0.82);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor:pointer;
    transition:0.3s ease;
    font-style: italic;
}

.logo:hover{
    transform:scale(1.1);
}

.logo{
    text-shadow: 0 0 25px var(--main-colour);
}

.navbar>a{
    font-size:1.8rem;
    color: var(--text-color);
    margin-left:4rem;
    font-weight:500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent ;
}

.navbar>a:hover,
.navbar>a.active{
    color: var(--main-colour);
    border-bottom: 3px solid var(--main-colour);
}

#menu-icon{
    font-size: 3.6rem;
    color:var(--main-colour);
    display: none;
}

#AboutMeSec{
    display: flex;
    width:93vw;
    height:140vh;
    background: rgba(0, 0, 0, 1.5);
    position:relative;
    top:84px;
    left:35px;
    bottom: 30px;
    border:2px solid black;
    opacity: 80%;
}

.topic{
    color: white;
    left: 10px;
    font-size: 18px;
    padding: 40px;
}

hr.line {
    border: 4px solid #15F770;
    width:170px;
    /* position:absolute;
     top:27px;
     left:100px;*/
}



#myImageABM {
    width: 290px;
    height: auto; /* Maintain aspect ratio */
    border: 5px solid #15F770;
    border-radius: 180px;
    display: block;
    margin: 20px auto; /* Center the image and add some margin */
    /*
    box-shadow: rgb(74, 169, 113) 0px 54px 55px, rgb(9, 239, 106) 0px -12px 30px, rgba(19, 18, 18, 0.79) 0px 4px 6px, rgba(12, 12, 12, 0.79) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    */

    box-shadow: rgb(66, 140, 101) 0px 21px 20px, rgb(9, 218, 106) 0px -12px 30px, rgba(19, 18, 18, 0.79) 0px 4px 102px, rgba(12, 12, 12, 0.79) 0px -13px 0px, rgba(0, 0, 0, 0.09) 0px -15px 0px;
}


.button-container {
    /* Add some space between the image and the button */
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px 20px;
}

.AboutMebuttons{
    background-color: #09ef6a;
color: white;
border: none;
cursor: pointer;
font-size: 18px;
border-radius: 32px;
width: 170px;
margin-right: 30px;
height: 50px;
}

.AboutMebuttons:hover{
    color: #15F770;
    background: #464242;
}



#left {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    width: 30vw;
    height: auto; /* Adjust height to fit content */
    padding: 20px; /* Add some padding */

}

#right{
    width:80vw;
    height: 100vh;
    flex-direction: row;

}


#AboutMeText{

    color: var(--text-color);
    margin-top:121px;
    padding:80px;
    font-size: 19px;


}


#AboutMeText>p{
    color: var(--text-color);
}

#AboutMeText>h4{
    font-size: 40px;
    color:var(--main-colour);
    margin-bottom: 30px;
}

#lists{
    display: flex;
    margin-top: 50px;
}

#listRight{
    margin-left: 100px;
}

#listRight>ul>li{
    color: #15F770;
    margin-bottom:40px;
}

#listRight>ul>li>span{
    color: #f6f6f6;
}


#listLeft>ul>li{
    color: #15F770;
    margin-bottom:40px;
}

#listLeft>ul>li>span{
    color: #f6f6f6;
}


/*
footer{
    width:96vw;
    height:200px;
    color: var(--bg-color);
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    top:30px;
    position: sticky;
}
*/









@media screen and (max-width: 1440px) {
    #myImageABM {
        width: 271px;
        height: auto;
        border: 5px solid #15F770;
        border-radius: 234px;
        display: block;
        margin: 20px auto;
        box-shadow: rgb(74, 169, 113) 0px 54px 55px, rgb(9, 239, 106) 0px -12px 30px, rgba(19, 18, 18, 0.79) 0px 4px 6px, rgba(12, 12, 12, 0.79) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        /*
        box-shadow: rgb(66, 140, 101) 0px 14px 8px, rgb(9, 218, 106) 0px -12px 30px, rgba(19, 18, 18, 0.79) 0px 4px 102px, rgba(12, 12, 12, 0.79) 0px -13px 0px, rgba(0, 0, 0, 0.09) 0px -15px 0px;
        */
    }

    .topic{
        color: white;
        left: 10px;
        font-size: 15px;
        padding: 43px;
    }

    #AboutMeText{
        font-size: 17px;
    }

    .button-container>button{
        width:160px;
        height: 40px;
    }
    .button-container{
        margin-top: 30px;
    }
}

@media screen and (max-width: 1240px){
    #myImageABM{
        width:225px;
    }

    .topic{
        padding:10px 10px 40px;
    }

    .button-container{
        padding: 0px;
    }

    .button-container>button{
        font-size: 15px;
        margin-right: 20px;
        width:142px;
        height: 38px;
    }

    #AboutMeText{
        padding: 0px 0px 0px 45px;
        font-size: 16px;
    }

    #listRight{
        margin-left: 164px;
    }

    #AboutMeText>h4{
        font-size: 34px;
    }
}

@media screen and (max-width: 1080px) {

    #AboutMeSec {
        height: 90vh;
    }

    #myImageABM{
        width:211px;
    }

    #listRight{
        margin-left:100px;
    }

    .topic{
        font-size: 11px;
    }

    .logo{
        font-size: 2rem;
    }

    .button-container{
        margin-left: 0px;
        flex-direction: column;
        padding: 0px;
    }

    .button-container>button{
        margin-right: 0px;
        margin-top: 10px;
    }

    body:before{
        top:77px;
    }

}

@media screen and (max-width: 864px){
    #AboutMeSec{
        flex-direction: column;
        height: auto;
        left:22px;
        background: black;
    }

    #AboutMeText{
        margin-top:20px;
        padding:55px;
        font-size: 15px;
    }

    #AboutMeText>h4{
        margin-left:17%;
        font-size: 41px;

    }

    #left{
        width:100%;
        height:auto;
    }

    #right{
        width:100%;
        height:auto;
    }

    .topic{
        font-size: 26px;
    }

    .logo{
        font-size: 1.5rem;
    }

    .button-container{
        flex-direction: row;
    }

    .button-container>button{
        font-size: 19px;
        width:166px;
        height: 51px;
        margin-left: 20px;
    }

    #myImageABM{
        width: 320px;
    }

    #list{
        margin-left:40px;
    }


}

@media screen and (max-width: 500px){


    .topic{
        font-size: 16px;
    }
    #myImageABM{
        width:236px;
    }

    .button-container>button{
        font-size: 15px;
        width:153px;
        height: 38px;
        margin-left: 19px;

    }

    #AboutMeText{
        padding: 30px;
        font-size: 13px;
    }

    #AboutMeText>h4{
        font-size: 28px;
        margin-left: 0px;
    }

    #lists{
        flex-direction: column;
        margin-left: 25%;
    }

    #listRight{
        margin-left:0px;

    }
    #AboutMeSec{
        width: 90vw;
        left:18px;
    }
    .header{
        padding:0px 12% 2rem;
    }
}


