#Education{
    width:93vw;
    height:fit-content;
    background: rgba(0, 0, 0, 1.5);
    opacity: 80%;
    margin-top:116px;
    right: 10px;
   margin: auto;
    position: relative;
    margin-top: 220px;
    /* position: relative;
      justify-content: center;
      text-align: center;
      align-items: center;*/


}



.Text{
    /*background: #eb87fa;*/
    width:86vw;
    height:fit-content;
    display:flex;
    margin-left: 60px;
    margin-top:110px;



}

#leftText>div{
    width:20vw;
    height:100vh;
    margin-right:22px;
    /*border: 2px solid #464242;*/
    border-radius: 20px 0px 20px 0px;

}

#leftText>div:hover{
    background: rgba(70, 66, 66, 0.53);
}

#rightText>div:hover{
    background: rgba(70, 66, 66, 0.53);
}

#rightText>div{
    width:20vw;
    height:100vh;
    margin-right:30px;
   /* border: 2px solid #464242;*/
    border-radius: 20px 0px 20px 0px;
    align-items: center;
    justify-content: center;

}

#primary{


}

#secondary{
/*
    background:green;*/
}

#ol{

   /* background:orange;*/
}

#current{

   /* background:purple;*/
}



#leftText{
    width:50%;
    height:100%;
   /* background: white;*/
    display: flex;
    margin-left:-24px;
    text-align: center;


}


#rightText{
    width:50%;
    height:100%;
   /* background: deeppink;*/
    display: flex;
    margin-left:32px;
    text-align: center;



}

.year{
    width:20vw;
    height: 90px;
    color: rgba(97, 97, 100, 0.6);
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    display: flex;
    /*margin-left: 48px;*/
    /*background: blue;*/
}

.year>h4{
    font-size: 60px;
    padding: 0;
    color: rgba(70, 66, 66, 0.87);
    margin: auto;
    justify-content: center;
}

.info{
    width:20vw;
    height:40vw;
    /*background: yellow;*/
    margin-top:110px;
}

/*.EduImage{//paran eka
    width:300px;
    height: 250px;
    background: black;
}*/
.EduImage{
    width: 154px;
    height: 152px;
    background: rgb(7, 7, 7);
    border-radius: 200px;
   /* margin-left: 30px;*/
    margin: auto;
   /* border: 2px solid #15F770;*/
    /*
    box-shadow:  rgb(74, 169, 113) 0px 54px 55px, rgb(9, 239, 106) 0px -12px 30px, rgba(19, 18, 18, 0.79) 0px 4px 6px, rgba(12, 12, 12, 0.79) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    display: flex;
}



.EduImage>img {
    width: 337px;
    height: 106px;
   /* margin-left: -90px;
    margin-top: 29px;*/
    margin:auto;

}


.EduImage>#ijseImg{
    width: 143px;
    height: fit-content;
    /*margin-left: 10px;
    margin-top: -5px;*/
    margin:auto;
    border-radius: 200px;
}

.EduImage>#olImg{
    width: 241px;
    height: 121px;
   margin:auto;
}

.info>h5{
    font-size: 28px;
    color: var(--main-colour);
    margin-top: 100px;

}
.info>p{
    margin-top: 50px;
    font-size: 19px;
    text-align: center;
}

.circle{
    width:20px;
    height: 20px;
    border-radius: 100%;
    background:#15F770;
    margin:auto;
}


@media  screen and (max-width: 1440px) {
    .Text{
        margin-top: 91px;
    }

    .info>h5{
        font-size: 24px;
    }

    .info>p{
        font-size: 18px;
        margin-top:15px;
    }

}

@media  screen and (max-width: 1240px) {
    .Text{
        margin-top: 91px;
    }

    .info>h5{
        font-size: 21px;
    }

    .info>p{
        font-size: 15px;
        margin-top:12px;
    }

}


@media  screen and (max-width: 1000px) {
    .Text{
        margin-top: 91px;
    }

    .info>h5{
        font-size: 21px;
    }

    .info>p{
        font-size: 15px;
        margin-top:12px;
    }

}

@media  screen and (max-width: 800px) {

    #Education{
        margin-left: -12px;
       /* height: 200vh;*/
    }
    .Text{
        flex-direction: column;
    }

    #leftText{
        width:92%;
        height:100%;
        justify-content: space-between;
        margin-left:-10px;


    }

    #leftText>div{
        width:34vw;
        height:79vh;
    }
    .info{
        width:33vw;
        margin-top: 60px;
        height:50%;
    }

    .info>h5{
        margin-top: 50px;
    }

    #rightText{
        width:92%;
        height:100%;
        margin-top: 20px;
        margin-left:-20px;

    }

    #rightText>div{
        width:34vw;
        height:79vh;

    }


    .year>h4{
        margin-left: 110px;
    }
}

@media  screen and (max-width: 500px){

    #Education{
        width: 90vw;
        left: 27px;
       /* height:300vh;*/

    }

    #leftText{
        flex-direction: column;
        justify-content: space-between;
        margin-left: -26px;

    }

    .info{
        width:82vw;
        margin-top: 15px;
        height:40%;
    }

    #leftText>div{
        width:75vw;
        height:75vh;
        margin-bottom: 40px;

    }

    .year>h4{
        margin-left: 275px;
    }
    .info>h5{
        margin-top: 25px;
    }


    #rightText>div{
        width:81vw;
        height:70vh;
        margin-top: 40px;

    }

    #rightText{
        flex-direction: column;
        justify-content: space-between;
        margin-left: -26px;
    }







}



