#Education{
    width:95vw;
    height:165vh;
    background:var(--second-bg-color);
    margin-top:170px;
    left: 32px;
    right: 10px;
    margin-left: 0px;
    position: relative;
    /* position: relative;
      justify-content: center;
      text-align: center;
      align-items: center;*/


}

.topicEdu{
    color: #15F770;
    font-size: 30px;
    position: relative;
    /*justify-content: center;
    text-align: center;
    align-items: center;*/
    margin-top: 60px;
}

.Text{
    /*background: #eb87fa;*/
    width:86vw;
    height:120vh;
    display:flex;
    margin-left: 60px;
    margin-top:180px;



}

#leftText>div{
    width:20vw;
    height:100vh;
    margin-right:22px;
    border: 2px solid #464242;
    border-radius: 20px 0px 20px 0px;

}

#leftText>div:hover{
    background: rgba(70, 66, 66, 0.53);
}

#rightText>div:hover{
    background: rgba(70, 66, 66, 0.53);
}

#rightText>div{
    width:20vw;
    height:100vh;
    margin-right:30px;
    border: 2px solid #464242;
    border-radius: 20px 0px 20px 0px;

}

#primary{

   /* background: #ff002f;*/


}

#secondary{
/*
    background:green;*/
}

#ol{

   /* background:orange;*/
}

#current{

   /* background:purple;*/
}



#leftText{
    width:50%;
    height:100%;
   /* background: white;*/
    display: flex;

}


#rightText{
    width:50%;
    height:100%;
   /* background: deeppink;*/
    display: flex;


}

.year{
    width:20vw;
    height: 90px;
    color: #464242;
    margin-left: 48px;
    /*background: blue;*/
}

.year>h4{
    font-size: 60px;
    padding: 0;
    margin: 0;
    color:black;
}

.info{
    width:20vw;
    height:40vw;
    /*background: yellow;*/
    margin-top:110px;
}

/*.EduImage{//paran eka
    width:300px;
    height: 250px;
    background: black;
}*/
.EduImage{
    width: 154px;
    height: 152px;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 200px;
    margin-left: 30px;
   /* border: 2px solid #15F770;*/
    /*
    box-shadow:  rgb(74, 169, 113) 0px 54px 55px, rgb(9, 239, 106) 0px -12px 30px, rgba(19, 18, 18, 0.79) 0px 4px 6px, rgba(12, 12, 12, 0.79) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    */
}

/*.EduImage>img{/// parana eka
    width: 476px;
    height: fit-content;
    margin-left: -103px;
    margin-top: 30px;
}*/

.EduImage>img {
    width: 337px;
    height: 106px;
    margin-left: -90px;
    margin-top: 29px;

}


.EduImage>#ijseImg{
    width: 143px;
    height: fit-content;
    margin-left: 10px;
    margin-top: -5px;
    border-radius: 200px;
}

.EduImage>#olImg{
    width: 241px;
    height: 121px;
    margin-left: -46px;
    margin-top: 5px;
}

.info>h5{
    font-size: 28px;
    color: var(--main-colour);
    margin-top: 100px;
}
.info>p{
    margin-top: 50px;
    font-size: 19px;
}




