#myWork{

    width: 96vw;
    height: 150vh;
    background: var(--second-bg-color);
    margin-top: 30px;
    margin-left: 24px;
    position: relative
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
    width: 85vw;
    height: 113vh;
    /*background: blue;*/
    margin-top: 67px;
    margin-left: 66px;
}

.gridItem {
    width: 545px;
    height: 361px;
}


#proPic{
    background-image: url("assests/images/Assignment.jpg");
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;

}

#proImg{
    width: 545px;
    height: 361px;
}


#ProText{
    /*background: #e0dada;*/
}

#AssText>h3{
   font-size:76px;
    color: #15F770;
}

#AssImg{
    /*background: #b920ca;*/
    border-radius: 20px;
    overflow: hidden;
}

#AssignmentImg{
    width: 545px;
    height: 361px;

}
