

#mySevices{
    width: 93vw;
    height: 120vh;
    background: rgba(0, 0, 0, 1.5);
    opacity: 80%;
    margin-left: 35px;
    position: relative;
    margin-top: 220px;
}

#mySevices>h2{
    font-size: 74px;
    text-align: center;
    font-style: italic;
    color: white;
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    text-shadow: 0 0 25px var(--main-colour);
}

#serviceText{
    width: 85vw;
    height: 89vh;
    /*  background: deeppink;*/
    display: flex;
    position:absolute;
    top: 260px;
    bottom: 0;
    left: 83px;
    right: 0;


}

.serviceCard{
    width: 406px;
    height: 500px;
    background: rgba(19, 18, 18, 0.79);
    border-radius: 20px;
    padding: 27px;
    margin-right: 28px;
}

.serviceCard>h3{
    font-size: 30px;
    color: #15F770;
}


.serviceCard>p{
    font-size: 19px;
    margin-top:180px;
}

.serviceCard:hover{
   background: #15F770;
    opacity:80%;
    color: white;
}

.serviceDiv1{
    background: purple;
    display: flex;
    width:70%;
    height: auto;
    margin: auto;
}



#serviceDiv2{
    background: green;
    display: flex;
    width:30%;
}

#serviceCardSpecial{
    width: 406px;
    height: 500px;
    background: rgba(19, 18, 18, 0.79);
    border-radius: 20px;
    padding: 27px;
    margin-right: 28px;
}



@media screen and (max-width: 1240px){

    .serviceCard>p{
        font-size: 19px;
        margin-right: 86px;
        margin-left: 39px;

    }

    #mySevices>h2{
        font-size: 61px;
    }


     #serviceText{
       position:absolute;
       top: 160px;
     }

     #serviceText{
         flex-direction: column;
     }

     #serviceDiv2{
         width: 100%;
     }

    .serviceDiv1{
        width: 100%;
        background: white;
    }

    #mySevices{
        height: 200vh;

    }


}
