#SKILLS{
    width:97vw;
    height: 1800px;
    background: #0E0D0D;
    position: relative;
    top: 135px;
    left: 11px;

}

#skillTopic>hr {
    border: 4px solid #15F770;
    width:150px;
    position:absolute;
    top:27px;
    left:100px;
}

#SKILLS>#images{
    display: flex;
    flex-direction: column;
}
#SKILLS>.img{
    background: white;
    width:200px;
    height:100px;
   /* background-image: url("assests/images/HIBERNATE.png");*/

}

#SKILLS> #hibernate{
    position:absolute;
    top:200px;
}

#SKILLS> #htmlImg{
    position:absolute;
    top:200px;
}


progress {
    width: 450px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}
progress ::-webkit-progress-bar {
    background-color: #15f770;
}
progress ::-webkit-progress-value {
    background-color: red;
}



#skillText {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 451px;
    left: 167px;
}

#skillTextRight {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 451px;
    right:60px;
}

#skillTextRight>h5{
    color: white;
}

#skillText>h5{
    color: white;
}

#mySevices{
    width:97vw;
    height:500px;
    background: #0E0D0D;
    position: absolute;
    top: 950px;
    color: white;
}

#mySevices>h2{
    font-size: 65px;
    justify-content: center;
    display: flex;

}

.serviceCard{
    width: 365px;
    height: 471px;
    position: absolute;
    color: white;
    background:#0d0c0c;
    box-shadow: rgb(9, 239, 106) 0px 19px 38px, rgb(69, 143, 99);
  /* left: 253px;
    top: 210px;*/
}

.serviceCard:hover{
    color: white;
    background: #4aa971;
}

#webDevelopment{
    left: 253px;
    top: 210px;
}

#frontEnd{
    right:370px;
    top:210px;
}

#project{
    width:97vw;
    height:1800px;
    background: #0E0D0D;
    top:80px;
    left: 10px;
    right: 10px;
    position: relative;
}

#ProjectTopic>hr {
    border: 4px solid #15F770;
    width:150px;
    position:absolute;
    top: 59px;
    left: 220px;

}
#proText>.containers{
    background: #464242;

    /*box-shadow:
            0px 54px 55px rgba(255, 255, 255, 0.25),    !* Mixed with white *!
            0px 54px 55px rgba(21, 247, 112, 0.25),   !* #15F770 shadow *!

            0px 12px 13px rgba(21, 247, 112, 0.17),      !* #15F770 shadow *!
            0px -3px 5px rgba(21, 247, 112, 0.09);       !* #15F770 shadow *!*/
    box-shadow: rgba(21, 247, 112, 0.25) 0px -8px 32px,
                rgba(191, 255, 186, 0.22) 0px 10px 15px;


    border-radius:20px;
    color: white;
}


#ProjectTopic>h4{
   font-size:34px;
}

/*#proText>#middleLineProj{
    color:white;
    height:1400px;
    border: 1px solid white;
    width:2px;
    position:absolute;
    background: white;
    left:0;
    right:0;
    margin:auto;
    top:298px;
}*/

#proText{
    position: absolute;
    top: 208px;
}

#proText> #contP1{
    width: 349px;
    height: 643px;

    position: absolute;
    left: 40px;

}


#proText>#contP2{
    width: 588px;
    height: 304px;
    background: #464242;
    position: absolute;
    left: 430px;



}

#proText>#contP3{
    width: 588px;
    height: 304px;
    background: #464242;
    position: absolute;
    left: 430px;
    top: 340px;
}

#proText>#contP4{
    width: 349px;
    height: 643px;
    background: #464242;
    position: absolute;
    left: 1054px;

}
#proText>#contP5{
    width: 978px;
    height: 304px;
    background: #464242;
    position: absolute;
    left: 191px;
    top: 669px;
}









