#SKILLS{
    width:97vw;
    height: 5000px;
    background: #0E0D0D;
    position: relative;
    top: 135px;
    left: 11px;

}

#skillTopic>hr {
    border: 4px solid #15F770;
    width:150px;
    position:absolute;
    top:27px;
    left:100px;
}

progress {
    width: 450px;
    height: 10px;
    border: 2px solid gray;
    border-radius: 10px;
}
progress ::-webkit-progress-bar {
    background-color: #15f770;
}
progress ::-webkit-progress-value {
    background-color: red;
}

#skillText {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 451px;
    left: 167px;
}

#skillTextRight {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 451px;
    right:60px;
}

#skillTextRight>h5{
    color: white;
}

#skillText>h5{
    color: white;
}

#mySevices{
    width:97vw;
    height:500px;
    background: #0E0D0D;
    position: absolute;
    top: 950px;
    color: white;
}

#mySevices>h2{
    font-size: 65px;
    justify-content: center;
    display: flex;

}

.serviceCard{
    width: 365px;
    height: 471px;
    position: absolute;
    color: white;
    background:#0d0c0c;
    box-shadow: rgb(9, 239, 106) 0px 19px 38px, rgb(69, 143, 99);
  /*  left: 253px;
    top: 210px;*/
}

.serviceCard:hover{
    color: white;
    background: #4aa971;
}

#webDevelopment{
    left: 253px;
    top: 210px;
}

#frontEnd{
    right:370px;
    top:210px;
}

