#SKILLS{
    width:97vw;
    height: 100vh;
    background: #0E0D0D;
    position: relative;
    top: 135px;
    left: 11px;

}

#skillTopic>hr {
    border: 4px solid #15F770;
    width:150px;
    position:absolute;
    top:27px;
    left:100px;
}







